
\.DS_Store

backend/routers/__pycache__/

backend/models/__pycache__/

backend/controllers/__pycache__/

backend/__pycache__/

backend/\.vscode/

backend/pkg/__pycache__/

backend/config/__pycache__/

backend/config/conf\.py

backend/venv/

*.pyc
